<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Imóveis | Edição de Componente</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body>
	<div th:insert="~{menu :: menu ('componentes')}"></div>
	<div class="container">
		<h4 th:text="${'#'+componente.id+' '+componente.nome}"></h4>
		<form method="POST" enctype="multipart/form-data"
			th:object="${componente}"
			th:action="@{/componente/editar(id=${componente.id})}"
			style="margin: 20px 0">
			<div th:insert="~{componentes/campos :: campos}"></div>
			<div class="col-xs-12 text-right">
				<button class="btn btn-primary" type="submit">Salvar</button>
			</div>
		</form>
	</div>
	<div th:insert="~{scripts :: scripts}"></div>
</body>
</html>