<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Imóveis | Fotos do Produto</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body>
	<div th:insert="~{menu :: menu ('produtos')}"></div>
	<div class="container">
	<div th:insert="~{mensagens :: mensagens}"></div>
		<h4 th:text="${'#'+produto.id+' '+produto.nome}"></h4>
		<form method="POST" enctype="multipart/form-data"
			th:object="${produto}"
			th:action="@{/produto/fotos(id=${produto.id})}"
			style="margin: 20px 0">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Foto</th>
						<th>Principal</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="foto : ${produto.fotos}">
						<td th:text="${fotoStat.count}"></td>
						<td><img style="height: 90px;" src=""
							th:attr="src=${'data:image/png;base64, ' + foto.conteudo}" /></td>
						<td><input type="radio" th:value="${fotoStat.index}"
							name="fotoPrincipal"
							th:checked="${produto.fotoPrincipal==fotoStat.index}"></td>
						<td><input type="checkbox" th:value="${fotoStat.index}"
							th:attr="name=${'fotosExcluidas'}"></td>
					</tr>
				</tbody>
			</table>
			<div class="col-xs-12">
				<div class="form-group">
					<label>Adicionar fotos</label> <input type="file"
						class="form-control" placeholder="Foto" th:field="*{uploads}"
						multiple="multiple" />
				</div>
			</div>
			<div class="col-xs-12 text-right">
				<button class="btn btn-primary" type="submit">Salvar</button>
			</div>
		</form>
	</div>
	<div th:insert="~{scripts :: scripts}"></div>
</body>
</html>