<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Imóveis | Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body>
	<div th:insert="~{menu :: menu}"></div>
	<div class="container">
		<div class="col-xs-12 text-right">
			<a class="btn btn-primary" href="#" data-toggle="modal"
				data-target="#modalNovo">Novo produto</a>
		</div>
		<div class="row"></div>
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Produtos</h1>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>Localização</th>
							<th>Foto</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="produto : ${produtos}">
							<td th:text="${produto.id}"></td>
							<td th:text="${produto.nome}"></td>
							<td th:text="${produto.localizacao.cidade}"></td>
							<td><img style="height: 50px;" src=""
								th:attr="src=${'data:image/png;base64, ' + produto.fotos[0].conteudo}" /></td>
							<td><a class="text-warning"
								th:href="@{/produto/editar(id=${produto.id})}"
								style="margin-right: 25px;">editar</a><a class="text-danger"
								href="#" data-toggle="modal" data-target="#modalExcluir"
								th:attr="data-id=${produto.id}, data-nome=${produto.nome}">excluir</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="modalNovo" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Novo produto</h4>
				</div>
				<form method="POST" enctype="multipart/form-data"
					id="form-produto-salvar" th:object="${produto}"
					th:action="@{/produtos}" style="margin: 20px 0">
					<div class="modal-body">
						<div class="row">
							<div th:insert="~{produtos/campos :: campos}"></div>
							<div class="col-xs-12">
								<div class="form-group">
									<input type="file" class="form-control" placeholder="Foto"
										th:field="*{fotos[0].file}" required="required" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							style="margin-right: 5px;">Cancelar</button>
						<button type="submit" class="btn btn-success">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="modalExcluir" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Excluir produto</h4>
				</div>
				<form method="POST" th:action="@{/produto/excluir}">
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<span>Confirma a exclusão do produto <span
									style="font-weight: bold;" class="text-primary"
									id="nome-produto"></span>?
								</span> <input type="hidden" name="id" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							style="margin-right: 5px;">Cancelar</button>
						<button type="submit" class="btn btn-danger">Excluir</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:insert="~{scripts :: scripts}"></div>
	<script>
		$('#modalExcluir').on(
				'show.bs.modal',
				function(e) {
					//get data-id attribute of the clicked element
					var id = $(e.relatedTarget).data('id');
					var nome = $(e.relatedTarget).data('nome');
					//populate the textbox
					$(e.currentTarget).find('input[name="id"]').val(id);
					$(e.currentTarget).find('#nome-produto').html(
							"#" + id + " " + nome);
				});
	</script>
</body>
</html>