<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="menu (page)">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Tanuri</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li th:class="${page=='produtos'?'active':''}"><a
							th:href="@{/admin/produtos}">Produtos</a></li>
						<li th:class="${page=='componentes'?'active':''}"><a
							th:href="@{/admin/componentes}">Componentes</a></li>
						<!-- 					<li th:class="${page=='categorias'?'active':''}"><a
							th:href="@{#}">Categorias</a></li>
 -->
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" onclick="$('#form-logout').submit();"><span
								class="glyphicon glyphicon-log-out"></span> Sair</a></li>
					</ul>
					<form th:action="@{/logout}" method="post" id="form-logout">
					</form>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>