<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="scripts">
		<script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
		<script>
			$("form").submit(
					function() {
						$(this).find("button[type='submit']").attr("disabled",
								"disabled");
					});
			$("#mensagemSucesso").fadeTo(2000, 500).slideUp(500, function() {
				$("#mensagemSucesso").slideUp(500);
			});
		</script>
	</div>

	<div th:fragment="autoRefresh">
		<script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
		<script>
			var idleTime = 0;
			$(document).ready(function() {
				// Increment the idle time counter every 30 second.
				var idleInterval = setInterval(timerIncrement, 30000); // 30 seconds

				// Zero the idle timer on mouse movement.
				$(this).mousemove(function(e) {
					idleTime = 0;
				});
				$(this).keypress(function(e) {
					idleTime = 0;
				});
			});

			function timerIncrement() {
				idleTime = idleTime + 1;
				if (idleTime > 2) { // 60 seconds
					window.location.reload();
				}
			}
		</script>
	</div>
</body>
</html>